.section-contact {
    background-image: url(../img/section_hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 96px;
}

.section-contact__content span {
    display: block;
    padding: 100px 0;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.contact-info__content {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

.item-contact {
    width: 48%;
}

.item-contact .box-contact {
    width: 100%;
}

.wrap-contact__data {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
}

.data-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: 50%;
    background-color: #f7f7f7;
    margin-right: 20px;
}

.data-icon i {
    font-size: 20px;
    margin: 0;
}

.data-text h4{
    color: #bb3232;
}

.form {
    border: none;
}