{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='/css/main.css')}}">
    {{ fontawesome_css() }}
    <title>
        {% block title %}
            Ideas||
        {% endblock %}
    </title>
{% endblock %}


{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock%}

    
    {% block content %}
    
    {% endblock%}
    
    {% block scripts %}
        {{super()}}
        {% include 'mensajeFlash.html' %}
    {% endblock%}
    
{% endblock%}